<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="managed-midi" version="1.1.0" targetFramework="net461" />
  <package id="mugene" version="1.2.0" targetFramework="net461" />
  <package id="Xwt" version="0.2.143" targetFramework="net46" />
  <package id="Xwt.Gtk" version="0.2.143" targetFramework="net46" />
  <package id="Xwt.WPF" version="0.2.143" targetFramework="net46" />
  <package id="Xwt.XamMac" version="0.2.143" targetFramework="net46" />
</packages>